body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:582px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3766 {
  position:absolute;
  left:60px;
  top:30px;
  width:320px;
  height:582px;
}
#u3767 {
  position:absolute;
  left:2px;
  top:283px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u3768 {
  position:absolute;
  left:60px;
  top:30px;
  width:320px;
  height:16px;
  color:#FFFFFF;
}
#u3769 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3770 {
  position:absolute;
  left:60px;
  top:46px;
  width:320px;
  height:46px;
  font-size:18px;
}
#u3771 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u3772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3772 {
  position:absolute;
  left:65px;
  top:56px;
  width:22px;
  height:22px;
}
#u3773 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3774 {
  position:absolute;
  left:61px;
  top:92px;
  width:318px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3775 {
  position:absolute;
  left:2px;
  top:17px;
  width:314px;
  word-wrap:break-word;
}
#u3776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3776 {
  position:absolute;
  left:61px;
  top:143px;
  width:318px;
  height:50px;
  font-size:14px;
  text-align:left;
}
#u3777 {
  position:absolute;
  left:2px;
  top:17px;
  width:314px;
  word-wrap:break-word;
}
