body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:781px;
}
#u2531 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:781px;
}
#u2532 {
  position:absolute;
  left:2px;
  top:382px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2533 {
  position:absolute;
  left:30px;
  top:40px;
  width:36px;
  height:31px;
}
#u2534 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  visibility:hidden;
  white-space:nowrap;
}
#u2535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2535 {
  position:absolute;
  left:186px;
  top:439px;
  width:164px;
  height:38px;
}
#u2536 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2537 {
  position:absolute;
  left:264px;
  top:763px;
  width:86px;
  height:38px;
}
#u2538 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
