body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5375 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:568px;
}
#u5376 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u5377 {
  position:absolute;
  left:30px;
  top:21px;
  width:320px;
  height:16px;
}
#u5378 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5379 {
  position:absolute;
  left:30px;
  top:37px;
  width:320px;
  height:46px;
}
#u5380 {
  position:absolute;
  left:2px;
  top:15px;
  width:316px;
  word-wrap:break-word;
}
#u5381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5381 {
  position:absolute;
  left:45px;
  top:47px;
  width:22px;
  height:22px;
}
#u5382 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5384 {
  position:absolute;
  left:30px;
  top:97px;
  width:320px;
  height:41px;
}
#u5385 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5386 {
  position:absolute;
  left:47px;
  top:108px;
  width:20px;
  height:20px;
}
#u5387 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5388 {
  position:absolute;
  left:77px;
  top:110px;
  width:85px;
  height:16px;
}
#u5389 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u5390 {
  position:absolute;
  left:47px;
  top:151px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u5391 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:67px;
}
#u5392 {
  position:absolute;
  left:30px;
  top:176px;
  width:320px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5393 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u5394 {
  position:absolute;
  left:37px;
  top:185px;
  width:47px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5395 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u5396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u5396 {
  position:absolute;
  left:94px;
  top:196px;
  width:57px;
  height:20px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u5397 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u5398 {
  position:absolute;
  left:287px;
  top:196px;
  width:50px;
  height:26px;
  font-size:11px;
  color:#666666;
}
#u5399 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u5400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:67px;
}
#u5400 {
  position:absolute;
  left:30px;
  top:245px;
  width:320px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5401 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u5402 {
  position:absolute;
  left:37px;
  top:254px;
  width:47px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5403 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u5404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u5404 {
  position:absolute;
  left:94px;
  top:265px;
  width:57px;
  height:20px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u5405 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u5406 {
  position:absolute;
  left:287px;
  top:265px;
  width:50px;
  height:26px;
  font-size:11px;
  color:#666666;
}
#u5407 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u5408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:67px;
}
#u5408 {
  position:absolute;
  left:30px;
  top:315px;
  width:320px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5409 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u5410 {
  position:absolute;
  left:37px;
  top:324px;
  width:47px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5411 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  word-wrap:break-word;
}
#u5412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u5412 {
  position:absolute;
  left:94px;
  top:335px;
  width:57px;
  height:20px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u5413 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:26px;
}
#u5414 {
  position:absolute;
  left:287px;
  top:335px;
  width:50px;
  height:26px;
  font-size:11px;
  color:#666666;
}
#u5415 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
