body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u2329 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:569px;
}
#u2330 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:27px;
}
#u2331 {
  position:absolute;
  left:55px;
  top:48px;
  width:49px;
  height:27px;
}
#u2332 {
  position:absolute;
  left:2px;
  top:6px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2333 {
  position:absolute;
  left:34px;
  top:49px;
  width:36px;
  height:25px;
}
#u2334 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  visibility:hidden;
  white-space:nowrap;
}
#u2335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2335 {
  position:absolute;
  left:30px;
  top:540px;
  width:320px;
  height:48px;
}
#u2336 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
