<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">-->
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
			
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>发言详情</title>

		<!-- Bootstrap -->
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/main.css" rel="stylesheet">
		<link href="../../css/common.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<style type="text/css">
			.fyxq_main3 ul li:nth-child(3n+1){
				margin-left: 3%;
			}
			
			.baseline {
				border-bottom: none;
			}
			.fyxq_main_l{
				width: 200px;
			}
			a:link{text-decoration: none;}
			a:visited{text-decoration: none;}
			a:hover{text-decoration: none;}
			
			[v-cloak] {
			  display: none;
			}
			.collection_btn{
				display: inline-block;
			    width: 50px;
			    height: 24px;
			    /*background: #C0C0C0;*/
			   border: 1px solid #df2d1f;
			    border-radius: 4px;
			    text-align: center;
			    line-height: 24px;
			    color: #df2d1f;
			}
			.bottom_icon6 {
			    background: url(../../images/bot_icon3.png) left center no-repeat;
			    padding-left: 25px;
			    }
			
			
		</style>
	</head>

	<body>
		<div id="app" v-cloak>
			<!--弹窗层-->
			<div id="bg" @click="closePopups()" style="background-color:#000;opacity: 0.5;filter:alpha(opacity=50); width:100%; height:100%; position:absolute; z-index:888; display:none;"></div>
			<div id="type" style="position:fixed; bottom:0; left:0; z-index:999; width:100%; display:none;">
				<div class="sort_xiala">
					<ul>
						<li @click="cancelAttention(customer)">取消关注</li>
						<li @click="shield()">屏蔽他的发言</li>
						<li style="height:10px; background:#dddddd">&nbsp;</li>
						<li @click="closePopups()">取消</li>
					</ul>
				</div>
			</div>
		
			<div class="grey_top">
				<a href="#" class="black_back" onclick="javascript :history.go(-1);"></a>
				发言详情
			</div>
			<div class="main_box">
				<div class="fyxq_main">
					<div class="fyxq_main_l">
						<div class="fyxq_main_l_img"><img :src="customer.headPicSrc" width="110" height="110"></div>
						<div class="fyxq_main_l_title">
							<a :href="urlList.personalpage + customer.userId"><p>{{customer.userName}}</p></a>
							<p><span>{{customer.createTime}}</span></p>
						</div>
					</div>
					<div class="fyxq_main_r" v-if="customer.isFocus==1"><img src="../../images/xl_icon.png" width="12" height="7" @click="selective()"></div>
					<div class="fyxq_main_r" v-else><span class="collection_btn" @click="attention(customer)">+关注</span>&nbsp;&nbsp;<span @click="shield(customer)">X</span></div>
					<div class="clear"></div>
				</div>
				<div class="fyxq_main2">
					<p class="ftc5050" v-html="customer.spContent">
						<!--<font class="ftcred">{{customer.subjectName}}</font>-->
					</p>
				</div>
				<div class="fyxq_main3">
					<ul>
						<li v-for="image in customer.releasePictures"><img :src="image.imgUrl" width="110" height="110"></li>
						<div class="clear"></div>
					</ul>
				</div>
				<!--转发别人的发言-->
				<div class="fyxq_main_l2 mt10" style="margin-bottom:10px;" v-if="customer.isSpeak==0">
					<div v-if="customer.rootSpeak.delFlag==1">
						<div class="fyxq_main_l2_img"><img :src="customer.rootSpeak.images" width="110" height="110"></div>
						<div class="fyxq_main_l_title2">
							<p v-if="customer.rootSpeak.noticeId ==''">@{{customer.rootSpeak.userName}}</p>
							<p v-else>{{customer.rootSpeak.title}}</p>
							<p><span v-html="customer.rootSpeak.content"></span></p>
						</div>
					</div>
					<div class="fyxq_main_l2 mt10" style="margin-bottom:10px; height:80px; text-align:center; line-height:80px;" v-else>
					原发言已被删除
					</div>
				</div>
				<div class="clear"></div>
				
				
			</div>
			<div class="Boutique_buy_title mt10">
				<div class="Boutique_buy_title_left"><a href="#" @click="forwardingList()">转发{{customer.spCountFwd}}</a></div>
				<div class="Boutique_buy_title_left"><a href="#" class="active" @click="commentList()">评论{{customer.spCountCmt}}</a></div>
				<div class="Boutique_buy_title_left" style="border-right:none;"><a href="#" @click="praiseList()">赞{{customer.spCountPraise}}</a></div>
			</div>
			<!--评论-->
			<div id="discuss">
				<div class="main_box" v-for="comment in comments" style="border-bottom:none;">
					<div class="fyxq_main">
						<div class="fyxq_main_l">
							<div class="fyxq_main_l_img"><img :src="comment.headPicSrc" width="110" height="110"></div>
							<div class="fyxq_main_l_title">
								<a :href="urlList.personalpage + customer.userId"><p>{{comment.userName}}</p></a>
								<p><span>{{comment.createTime}}</span></p>
							</div>
						</div>
						<div class="fyxq_main_r">
							<table width="100" border="0">
								<tr>
									<td width="20" @click="praiseOne(comment,2)"><img :src="comment.isPraise==1?praiseIcon2:praiseIcon" width="14" height="13"></td>
									<td width="60" style="padding-top:5px;">{{comment.countPraise}}</td>
									<td width="20"><img src="../../images/xinxi_icon.png" width="14" height="14" @click="reply(comment)"></td>
								</tr>
							</table>
						</div>
						<div class="clear"></div>
					</div>
					<div class="fyxq_main2_2" :class="{'baseline':comment.secCountCmt>0}">
						<p class="ftc5050" v-html="comment.content"></p>
					</div>
					<div class="ckqtpl" v-if="comment.secCountCmt>0">查看其他人对这条评论的
						<a :href="urlList.commentdetail+comment.cmtId"><font class="ftcred">{{comment.secCountCmt}}条评论></font></a>
					</div>
				</div>
			</div>

			<!--赞列表-->
			<div id="praise">
				<div class="main_box" style="border-bottom:none;" v-for="praise in praises">
					<div class="fyxq_main">
						<div class="zan_xq">
							<div class="fyxq_main_l_img"><img :src="praise.headPicSrc" width="110" height="110"></div>
							<div class="zan_xq_r">
								<a :href="urlList.personalpage + customer.userId"><p>{{praise.userName}}</p></a>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</div>

			<!--转发列表-->
			<div id="forwarding">
				<div class="main_box" style="border-bottom:none;" v-for="forward in forwardings">
					<div class="fyxq_main">
						<div class="fyxq_main_l">
							<div class="fyxq_main_l_img"><img :src="forward.headPicSrc" width="110" height="110"></div>
							<div class="fyxq_main_l_title">
								<a :href="urlList.personalpage + customer.userId"><p>{{forward.userName}}</p></a>
								<p><span>{{forward.createTime}}</span></p>
							</div>
						</div>

						<div class="clear"></div>
					</div>
					<div class="fyxq_main2_2">
						<p class="ftc5050">这个过程是很复杂的，中间也会遇到不少猫腻。</p>
					</div>
				</div>
			</div>

			<!--底部三个按钮-->
			<div class="business_bottom">
				<ul>
					<li><a :href="urlList.forward + customer.id" class="bottom2_icon1">转发</a></li>
					<li><a :href="urlList.comments + customer.id" class="bottom2_icon2">评论</a></li>
					<!--:class="releaseDetail.isPraise==1?'bottom_icon6':'bottom2_icon3'"-->
					<li style="border-right:none;"><a href="#" :class="customer.isPraise==1?'bottom_icon6':'bottom_icon3'" @click="praiseOne(customer,1)">赞</a></li>
				</ul>
			</div>
		</div>
		<script src="../../js/common/jquery.js"></script>
		<script src="../../js/common/bootstrap.min.js"></script>
		<script src="../../js/common/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/vue-resource.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/custom/layer.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/custom/speechdetails.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>