<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>话题列表</title>

		<!-- Bootstrap -->
		<link href="../../css/bootstrap.min.css" rel="stylesheet">
		<link href="../../css/main.css" rel="stylesheet">
		<link href="../../css/common.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<style type="text/css">
			a:link {
				text-decoration: none;
			}
			
			a:visited {
				text-decoration: none;
			}
			
			a:hover {
				text-decoration: none;
			}
			
			[v-cloak] {
				display: none;
			}
			.bottom_icon6 {
			    background: url(../../images/bot_icon3.png) left center no-repeat;
			    padding-left: 25px;
			    }
			.grey_top {
			    height: 44px;
			    background-color: #f8f8f8;
			    width: 100%;
			    text-align: center;
			    line-height: 44px;
			    color: #333;
			    font-size: 17px;
	    	/* border-bottom: solid 1px #ececec; */
}
		</style>
	</head>

	<body>
		<div id="app" v-cloak>

			<div class="grey_top">
				<!--<div class="topic_list_top">#装修作业#</div>-->
				<input class="topic_list_top" placeholder="#装修作业#"  v-model="searchValue">
				
				<div class="topic_list_top_close"><img src="../../images/close.png" width="15" height="15" @click="searchValue=''"></div>
				取消
			</div>
			<div class="main_box" style="border-top:solid 1px #ececec;" v-for="(releaseDetail,index) in releaseDetails" :class="{ mt10: index!=0 }">
				<div class="fyxq_main">
					<div class="fyxq_main_l">
						<div class="fyxq_main_l_img"><img :src="releaseDetail.headPicSrc" width="110" height="110"></div>
						<div class="fyxq_main_l_title">
							<p>{{releaseDetail.userName}}</p>
							<p><span>{{releaseDetail.createTime}}</span></p>
						</div>
					</div>
					<div class="fyxq_main_r"><img src="../../images/xl_icon.png" width="12" height="7"></div>
					<div class="clear"></div>
				</div>
				<div class="fyxq_main2">
					<p class="ftc5050">
						<font class="ftcred" v-for="(subject,index) in releaseDetail.subjectList" :key="index">{{subject.subjectName}}</font>{{releaseDetail.speakContent}}
						<!--<font class="ftcred">@优米的米</font>-->
					</p>
				</div>
				<div class="fyxq_main3" v-if="releaseDetail.imgList&&releaseDetail.imgList.length>0">
					<ul>
						<li v-for="image in releaseDetail.imgList"><img :src="image.imgUrl" width="110" height="110"></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="personal_main_bottom">
					<ul>
						<li>
							<a href="forward.html" class="bottom_icon1">{{releaseDetail.countForword}}</a>
						</li>
						<li>
							<a href="comment.html" class="bottom_icon2">{{releaseDetail.countComment}}</a>
						</li>
						<li style="border-right:none;">
							<a href="#" :class="releaseDetail.isPraise==1?'bottom_icon6':'bottom_icon3'" @click="praiseOne(releaseDetail,1)">{{releaseDetail.countPraise}}</a>
						</li>
					</ul>
				</div>
			</div>

			<!--<div class="main_box mt10" style="border-top:solid 1px #ececec;">
				<div class="fyxq_main">
					<div class="fyxq_main_l">
						<div class="fyxq_main_l_img"><img src="../../images/pic01.jpg" width="110" height="110"></div>
						<div class="fyxq_main_l_title">
							<p>蓝色理想</p>
							<p><span>昨天 18:30</span></p>
						</div>
					</div>
					<div class="fyxq_main_r"></div>
					<div class="clear"></div>
				</div>
				<div class="fyxq_main2">
					<p class="ftc5050">
						<font class="ftcred">#装修作业#</font>从交房验房，到涉及预算到后期开始装修以及装修 后的一些处理，这个过程很复杂的，中间也会遇到不少猫腻。 今天就为大家分享几点，希望对即将装修的朋友有所帮助。
					</p>
				</div>
				<div class="personal_main_bottom">
					<ul>
						<li><a href="#" class="bottom_icon1">转发</a></li>
						<li><a href="#" class="bottom_icon2">评论</a></li>
						<li style="border-right:none;"><a href="#" class="bottom_icon3">赞</a></li>
					</ul>
				</div>
			</div>-->
		</div>
		<script src="../../js/common/jquery.js"></script>
		<script src="../../js/common/bootstrap.min.js"></script>
		<script src="../../js/common/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/vue-resource.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/custom/topiclist.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>