body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:382px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u2613 {
  position:absolute;
  left:30px;
  top:20px;
  width:350px;
  height:622px;
}
#u2614 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2615 {
  position:absolute;
  left:30px;
  top:218px;
  width:350px;
  height:94px;
}
#u2616 {
  position:absolute;
  left:2px;
  top:39px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2617 {
  position:absolute;
  left:37px;
  top:227px;
  width:138px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u2618 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u2619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:173px;
}
#u2619 {
  position:absolute;
  left:30px;
  top:310px;
  width:352px;
  height:173px;
}
#u2620 {
  position:absolute;
  left:2px;
  top:78px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2621 {
  position:absolute;
  left:37px;
  top:262px;
  width:240px;
  height:15px;
  font-size:12px;
}
#u2622 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u2623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2623 {
  position:absolute;
  left:37px;
  top:287px;
  width:240px;
  height:15px;
  font-size:12px;
}
#u2624 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u2625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:2px;
}
#u2625 {
  position:absolute;
  left:31px;
  top:252px;
  width:349px;
  height:1px;
  color:#E4E4E4;
}
#u2626 {
  position:absolute;
  left:2px;
  top:-8px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2627 {
  position:absolute;
  left:212px;
  top:435px;
  width:148px;
  height:41px;
}
#u2628 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
