body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u5256 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:569px;
}
#u5257 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
