body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:79px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2583 {
  position:absolute;
  left:30px;
  top:11px;
  width:650px;
  height:79px;
}
#u2584 {
  position:absolute;
  left:2px;
  top:32px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2585 {
  position:absolute;
  left:47px;
  top:43px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2586 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:70px;
}
#u2587 {
  position:absolute;
  left:118px;
  top:16px;
  width:554px;
  height:70px;
}
#u2588 {
  position:absolute;
  left:2px;
  top:27px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:675px;
}
#u2589 {
  position:absolute;
  left:30px;
  top:115px;
  width:320px;
  height:675px;
}
#u2590 {
  position:absolute;
  left:2px;
  top:330px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2591 {
  position:absolute;
  left:30px;
  top:135px;
  width:36px;
  height:31px;
}
#u2592 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  visibility:hidden;
  white-space:nowrap;
}
#u2593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2593 {
  position:absolute;
  left:37px;
  top:217px;
  width:305px;
  height:169px;
}
#u2594 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
