body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:758px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#00CC00;
  text-align:right;
}
#u216 {
  position:absolute;
  left:377px;
  top:490px;
  width:84px;
  height:30px;
  font-size:12px;
  color:#00CC00;
  text-align:right;
}
#u217 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u218 {
  position:absolute;
  left:377px;
  top:519px;
  width:84px;
  height:30px;
  font-size:12px;
  text-align:right;
}
#u219 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u223 {
  position:absolute;
  left:350px;
  top:1014px;
  width:84px;
  height:30px;
  font-size:12px;
  text-align:right;
}
#u224 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:right;
}
#u225 {
  position:absolute;
  left:350px;
  top:1043px;
  width:84px;
  height:30px;
  font-size:12px;
  text-align:right;
}
#u226 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1262px;
}
#u227 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:1262px;
}
#u228 {
  position:absolute;
  left:2px;
  top:623px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  position:absolute;
  left:35px;
  top:568px;
  width:311px;
  height:131px;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  position:absolute;
  left:155px;
  top:737px;
  width:98px;
  height:29px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:47px;
  top:737px;
  width:98px;
  height:29px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:29px;
}
#u235 {
  position:absolute;
  left:310px;
  top:49px;
  width:36px;
  height:29px;
}
#u236 {
  position:absolute;
  left:2px;
  top:6px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  position:absolute;
  left:110px;
  top:1246px;
  width:36px;
  height:35px;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  visibility:hidden;
  white-space:nowrap;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239 {
  position:absolute;
  left:41px;
  top:1246px;
  width:36px;
  height:35px;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  visibility:hidden;
  white-space:nowrap;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  position:absolute;
  left:304px;
  top:1246px;
  width:36px;
  height:35px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  visibility:hidden;
  white-space:nowrap;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:171px;
  top:1239px;
  width:42px;
  height:42px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u245 {
  position:absolute;
  left:326px;
  top:188px;
  width:20px;
  height:23px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u247 {
  position:absolute;
  left:377px;
  top:585px;
  width:37px;
  height:16px;
  font-size:11px;
}
#u248 {
  position:absolute;
  left:2px;
  top:1px;
  width:33px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:344px;
  top:499px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u249_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u249_seg1 {
  position:absolute;
  left:17px;
  top:-10px;
  width:20px;
  height:20px;
}
#u250 {
  position:absolute;
  left:-35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:341px;
  top:250px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u251_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u251_seg1 {
  position:absolute;
  left:17px;
  top:-10px;
  width:20px;
  height:20px;
}
#u252 {
  position:absolute;
  left:-35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u253 {
  position:absolute;
  left:377px;
  top:242px;
  width:381px;
  height:16px;
  color:#FF0000;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  white-space:nowrap;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
}
#u255 {
  position:absolute;
  left:234px;
  top:1266px;
  width:41px;
  height:14px;
  font-size:9px;
}
#u256 {
  position:absolute;
  left:2px;
  top:1px;
  width:37px;
  word-wrap:break-word;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u257 {
  position:absolute;
  left:235px;
  top:1241px;
  width:42px;
  height:42px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
