body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:729px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2095 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:568px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u2097 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2098 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2099 {
  position:absolute;
  left:270px;
  top:28px;
  width:70px;
  height:25px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u2101 {
  position:absolute;
  left:40px;
  top:28px;
  width:220px;
  height:25px;
}
#u2101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:40px;
  top:107px;
  width:73px;
  height:16px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  position:absolute;
  left:137px;
  top:107px;
  width:73px;
  height:16px;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2106 {
  position:absolute;
  left:227px;
  top:107px;
  width:73px;
  height:16px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2108 {
  position:absolute;
  left:40px;
  top:147px;
  width:73px;
  height:20px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u2110 {
  position:absolute;
  left:40px;
  top:77px;
  width:57px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u2111 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u2112 {
  position:absolute;
  left:379px;
  top:20px;
  width:350px;
  height:622px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:147px;
}
#u2114 {
  position:absolute;
  left:379px;
  top:84px;
  width:350px;
  height:147px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:66px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2116 {
  position:absolute;
  left:379px;
  top:121px;
  width:350px;
  height:34px;
  text-align:left;
}
#u2117 {
  position:absolute;
  left:2px;
  top:9px;
  width:346px;
  word-wrap:break-word;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2118 {
  position:absolute;
  left:379px;
  top:156px;
  width:350px;
  height:34px;
  text-align:left;
}
#u2119 {
  position:absolute;
  left:2px;
  top:9px;
  width:346px;
  word-wrap:break-word;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2120 {
  position:absolute;
  left:379px;
  top:191px;
  width:350px;
  height:34px;
  text-align:left;
}
#u2121 {
  position:absolute;
  left:2px;
  top:9px;
  width:346px;
  word-wrap:break-word;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2122 {
  position:absolute;
  left:379px;
  top:226px;
  width:350px;
  height:34px;
  text-align:left;
}
#u2123 {
  position:absolute;
  left:2px;
  top:9px;
  width:346px;
  word-wrap:break-word;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2124 {
  position:absolute;
  left:390px;
  top:92px;
  width:57px;
  height:16px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2126 {
  position:absolute;
  left:684px;
  top:46px;
  width:42px;
  height:25px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  word-wrap:break-word;
}
