body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:79px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2463 {
  position:absolute;
  left:30px;
  top:11px;
  width:650px;
  height:79px;
}
#u2464 {
  position:absolute;
  left:2px;
  top:32px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2465 {
  position:absolute;
  left:47px;
  top:43px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2466 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:70px;
}
#u2467 {
  position:absolute;
  left:118px;
  top:16px;
  width:554px;
  height:70px;
}
#u2468 {
  position:absolute;
  left:2px;
  top:27px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u2469 {
  position:absolute;
  left:30px;
  top:115px;
  width:350px;
  height:622px;
}
#u2470 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2471 {
  position:absolute;
  left:30px;
  top:138px;
  width:36px;
  height:31px;
}
#u2472 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  visibility:hidden;
  white-space:nowrap;
}
#u2473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2473 {
  position:absolute;
  left:30px;
  top:177px;
  width:350px;
  height:204px;
}
#u2474 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2475 {
  position:absolute;
  left:30px;
  top:391px;
  width:350px;
  height:216px;
}
#u2476 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
