body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u4743 {
  position:absolute;
  left:30px;
  top:20px;
  width:350px;
  height:622px;
}
#u4744 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4745 {
  position:absolute;
  left:34px;
  top:47px;
  width:36px;
  height:25px;
}
#u4746 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  visibility:hidden;
  white-space:nowrap;
}
#u4747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u4747 {
  position:absolute;
  left:420px;
  top:20px;
  width:350px;
  height:622px;
}
#u4748 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
