<div id="partialTopic">
	<div class="grey_top">
		<input class="topic_list_top" placeholder="#看看" @input="txtchanged" v-model="searchValue">
		<div class="topic_list_top_close">
			<img src="../../images/close.png" width="15" height="15" @click="searchValue=''">
		</div>
		<span @click="cancel">取消</span>
	</div>
	<div class="choose_title" v-if="searchValue.length==0">热门话题</div>
	<div class="choose_title" v-else>搜索结果</div>
	<div class="main_box mt10" style="border-top:solid 1px #ececec;" v-if="searchValue.length==0">
		<div class="choose_main1">
			<ul>
				<li v-for="topic in Htopics"><a href="#" @click="choice(topic)">{{topic.subtName}}</a></li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
	<div class="choose_main2" v-else>
		<ul>
			<li v-for="topic in topics"><a href="#" @click="choice(topic)">{{topic.subtName}}</a></li>
			<div class="clear"></div>
		</ul>
	</div>
</div>
<script>
	$('#partialTopic').ready(function() {
		var topicvue = new Vue({
			el: "#partialTopic",
			data: {
				searchValue: "",
				Htopics: [],
				topics: []
			},
			mounted: function() { 
				this.$nextTick(function() { 
					this.getHottopic();
				});
			},
			methods: {
				getHottopic: function() {
					var _this = this;
					this.$http.get("../../data/choosetopics.json").then(function(res) {
						_this.Htopics = res.data.data;
					});
				},
				txtchanged: function() {
					var _this = this;
					if(_this.searchValue == "") {
						_this.getHottopic();
					} else {
						this.$http.get("../../data/choosetopics2.json", {
							value: _this.searchValue
						}).then(function(res) {
							_this.topics = res.data.data;
						});
					}
				},
				choice:function(topic){
					vm.topic.id=topic.id
					vm.topic.name=topic.subtName
					vm.appendTopic()
					this.cancel()
				},
				cancel: function() {
					vm.showPopup = false
				}
			}

		})
	})
</script>