body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:582px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:582px;
}
#u48 {
  position:absolute;
  left:2px;
  top:283px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u49 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:16px;
  color:#FFFFFF;
}
#u50 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u51 {
  position:absolute;
  left:30px;
  top:36px;
  width:320px;
  height:46px;
  font-size:18px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:38px;
  top:254px;
  width:295px;
  height:36px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:36px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u54 {
  position:absolute;
  left:38px;
  top:144px;
  width:43px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:103px;
  top:137px;
  width:220px;
  height:32px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:41px;
  top:192px;
  width:43px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60 {
  position:absolute;
  left:105px;
  top:182px;
  width:114px;
  height:32px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:231px;
  top:178px;
  width:92px;
  height:36px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u62 {
  position:absolute;
  left:38px;
  top:92px;
  width:149px;
  height:33px;
  color:#999999;
}
#u63 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  position:absolute;
  left:186px;
  top:92px;
  width:149px;
  height:33px;
}
#u65 {
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u66 {
  position:absolute;
  left:40px;
  top:48px;
  width:22px;
  height:22px;
}
#u67 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u68 {
  position:absolute;
  left:373px;
  top:188px;
  width:267px;
  height:16px;
  color:#FF0000;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u70 {
  position:absolute;
  left:373px;
  top:214px;
  width:196px;
  height:16px;
  color:#FF0000;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
