.labelEllipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.business_nr .business_name {
    width: calc(100% - 65px);
}

.full_cut .labelEllipsis {
    width: calc(100% - 50px);
}