<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>服务预定</title>

		<!-- Bootstrap -->
		<link href="../../css/bootstrap.css" rel="stylesheet">
		<link href="../../css/main.css" rel="stylesheet">
		<link href="../../css/common.css" rel="stylesheet">
		<link href="../../css/style.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../../css/cursom/service.css"/>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      	<script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
     	 <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>

	<body>
		<div id="app" v-cloak>
			<div id="bg" style="background-color:#000;display: none; opacity: 0.5;filter:alpha(opacity=50); width:100%; height:100%; position:absolute; z-index:888; padding-top:45px;"></div>
			<div style="position:fixed; top:0; left:0; z-index:999; width:100%;">
				<div class="grey_top">
					<a href="#" class="green_back" onclick="javascript :history.go(-1);" ></a>
					服务预定
					<a id="paixu" href="#" class="green_sort" v-on:click="sort"></a>
				</div>
				<div class="sort_xiala" style="display: none;">
					<ul>
						<li v-on:click="changeSort(1)" class="selected pointer">默认排序<span class="green_dh"></span></li>
						<li v-on:click="changeSort(2)" class="pointer">按销量从高到低</li>
						<li v-on:click="changeSort(3)" class="pointer">按商家最近发布时间</li>
					</ul>
				</div>
			</div>
			<div class="grey_top">
				<a href="#" class="green_back"></a>
				服务预定
				<a href="#" class="green_sort"></a>
			</div>
			<div class="sort_list clearfix" v-for="item in lists">
				<div class="sortlist_top">
					<div class="business_price_box">
						<div class="business_pic75 fl"><a :href="urlList.list + item.businessID"><img :src="item.businessImage"></a></div>
						<div class="business_nr font_black">
							<div style="height:26px;">
								<div class="business_name fl oneLine" style="width: 100%;"><a :href="urlList.list + item.businessID">{{item.businessName}}</a></div>
								<div class="fr"><a :href="urlList.list + item.businessID" style=" color:#666;">进入店铺</a></div>
							</div>
							<div class="business_type fl"><span class="bg2dc78a" style="color:#fff;border:none;" v-if="item.serviceWay==1">到店服务</span><span class="bg2dc78a" style="color:#fff;border:none;" v-else="item.serviceWay==0">上门服务</span><span v-for="fuwu in item.businessLabels">{{fuwu.labelName}}</span></div>
							<div class="business_start" v-if="item.serviceCharge!=0"><span>服务费{{item.serviceCharge|formatDecimal}}</span></div>
							<div class="full_cut clearfix"></div>
						</div>
					</div>
				</div>
				<div class="goods_hd">
					<ul class="clearfix">
						<li v-for="business in item.serviceItems">
							<div class="goodspic120"><a :href="urlList.list + item.businessID"><img :src="business.image"></a></div>
							<div class="txt_h30 oneLine"><a :href="urlList.list + item.businessID">{{business.name}}</a></div>
							<div class="fl">
								<div class="font_orange">{{business.price|formatDecimal}}/{{business.unit}}</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="mt10 clearfix"></div>
		</div>
	
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../../js/static/jquery.js"></script>
		<script src="../../js/static/bootstrap.js"></script>
   		<script src="../../js/static/vue.js"></script>
		<script src="../../js/static/vue-resource.js"></script>
		<script src="../../js/static/layer.js" type="text/javascript" charset="utf-8"></script>
		
		<script src="../../js/cursom/common/common.js" type="text/javascript" charset="utf-8"></script>

		<script src="../../js/cursom/service/modulelist.js"></script>
		
	</body>

</html>