body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:582px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:582px;
}
#u214 {
  position:absolute;
  left:2px;
  top:283px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u215 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:16px;
  color:#FFFFFF;
}
#u216 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u217 {
  position:absolute;
  left:30px;
  top:36px;
  width:320px;
  height:46px;
  font-size:18px;
}
#u218 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u219 {
  position:absolute;
  left:35px;
  top:46px;
  width:22px;
  height:22px;
}
#u220 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u221 {
  position:absolute;
  left:31px;
  top:83px;
  width:318px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u222 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u223 {
  position:absolute;
  left:31px;
  top:121px;
  width:318px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u224 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u225 {
  position:absolute;
  left:31px;
  top:159px;
  width:318px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u226 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u227 {
  position:absolute;
  left:31px;
  top:197px;
  width:318px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u228 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u229 {
  position:absolute;
  left:31px;
  top:235px;
  width:318px;
  height:37px;
  font-size:14px;
  text-align:left;
}
#u230 {
  position:absolute;
  left:2px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
