body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u5276 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:569px;
}
#u5277 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:27px;
}
#u5278 {
  position:absolute;
  left:55px;
  top:50px;
  width:53px;
  height:27px;
}
#u5279 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5280 {
  position:absolute;
  left:38px;
  top:51px;
  width:36px;
  height:25px;
}
#u5281 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  visibility:hidden;
  white-space:nowrap;
}
#u5282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5282 {
  position:absolute;
  left:312px;
  top:44px;
  width:38px;
  height:40px;
  text-align:right;
}
#u5283 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
