body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1260 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:568px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:16px;
}
#u1262 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:16px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:0px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1E1E1E;
}
#u1264 {
  position:absolute;
  left:31px;
  top:36px;
  width:318px;
  height:46px;
  font-size:18px;
  color:#1E1E1E;
}
#u1265 {
  position:absolute;
  left:2px;
  top:12px;
  width:314px;
  word-wrap:break-word;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1266 {
  position:absolute;
  left:40px;
  top:49px;
  width:22px;
  height:22px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1269 {
  position:absolute;
  left:40px;
  top:239px;
  width:269px;
  height:76px;
}
#u1270 {
  position:absolute;
  left:2px;
  top:30px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1271 {
  position:absolute;
  left:128px;
  top:251px;
  width:150px;
  height:26px;
  font-size:14px;
}
#u1272 {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  word-wrap:break-word;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:55px;
}
#u1273 {
  position:absolute;
  left:115px;
  top:251px;
  width:1px;
  height:54px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1275 {
  position:absolute;
  left:129px;
  top:280px;
  width:89px;
  height:15px;
  font-size:12px;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1277 {
  position:absolute;
  left:41px;
  top:264px;
  width:70px;
  height:26px;
  font-size:20px;
  text-align:center;
}
#u1278 {
  position:absolute;
  left:0px;
  top:1px;
  width:70px;
  word-wrap:break-word;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u1279 {
  position:absolute;
  left:46px;
  top:274px;
  width:18px;
  height:16px;
  font-size:10px;
  text-align:center;
}
#u1280 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:76px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1281 {
  position:absolute;
  left:310px;
  top:239px;
  width:29px;
  height:76px;
  font-size:10px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:12px;
  width:25px;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:79px;
}
#u1283 {
  position:absolute;
  left:40px;
  top:239px;
  width:2px;
  height:76px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:141px;
}
#u1285 {
  position:absolute;
  left:30px;
  top:81px;
  width:320px;
  height:140px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:62px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1288 {
  position:absolute;
  left:40px;
  top:325px;
  width:269px;
  height:76px;
}
#u1289 {
  position:absolute;
  left:2px;
  top:30px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1290 {
  position:absolute;
  left:128px;
  top:337px;
  width:150px;
  height:26px;
  font-size:14px;
}
#u1291 {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  word-wrap:break-word;
}
#u1292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:55px;
}
#u1292 {
  position:absolute;
  left:115px;
  top:337px;
  width:1px;
  height:54px;
}
#u1293 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1294 {
  position:absolute;
  left:129px;
  top:366px;
  width:89px;
  height:15px;
  font-size:12px;
}
#u1295 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1296 {
  position:absolute;
  left:41px;
  top:350px;
  width:70px;
  height:26px;
  font-size:20px;
  text-align:center;
}
#u1297 {
  position:absolute;
  left:0px;
  top:1px;
  width:70px;
  word-wrap:break-word;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u1298 {
  position:absolute;
  left:46px;
  top:360px;
  width:18px;
  height:16px;
  font-size:10px;
  text-align:center;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:76px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1300 {
  position:absolute;
  left:310px;
  top:325px;
  width:29px;
  height:76px;
  font-size:10px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:12px;
  width:25px;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:79px;
}
#u1302 {
  position:absolute;
  left:40px;
  top:325px;
  width:2px;
  height:76px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1305 {
  position:absolute;
  left:40px;
  top:411px;
  width:269px;
  height:76px;
}
#u1306 {
  position:absolute;
  left:2px;
  top:30px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1307 {
  position:absolute;
  left:128px;
  top:423px;
  width:150px;
  height:26px;
  font-size:14px;
}
#u1308 {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  word-wrap:break-word;
}
#u1309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:55px;
}
#u1309 {
  position:absolute;
  left:115px;
  top:423px;
  width:1px;
  height:54px;
}
#u1310 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1311 {
  position:absolute;
  left:129px;
  top:452px;
  width:89px;
  height:15px;
  font-size:12px;
}
#u1312 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1313 {
  position:absolute;
  left:41px;
  top:436px;
  width:70px;
  height:26px;
  font-size:20px;
  text-align:center;
}
#u1314 {
  position:absolute;
  left:0px;
  top:1px;
  width:70px;
  word-wrap:break-word;
}
#u1315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u1315 {
  position:absolute;
  left:46px;
  top:446px;
  width:18px;
  height:16px;
  font-size:10px;
  text-align:center;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:76px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1317 {
  position:absolute;
  left:310px;
  top:411px;
  width:29px;
  height:76px;
  font-size:10px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:12px;
  width:25px;
  word-wrap:break-word;
}
#u1319_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:79px;
}
#u1319 {
  position:absolute;
  left:40px;
  top:411px;
  width:2px;
  height:76px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1322 {
  position:absolute;
  left:40px;
  top:497px;
  width:269px;
  height:76px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:30px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1324 {
  position:absolute;
  left:128px;
  top:509px;
  width:150px;
  height:26px;
  font-size:14px;
}
#u1325 {
  position:absolute;
  left:0px;
  top:5px;
  width:150px;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:55px;
}
#u1326 {
  position:absolute;
  left:115px;
  top:509px;
  width:1px;
  height:54px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1328 {
  position:absolute;
  left:129px;
  top:538px;
  width:89px;
  height:15px;
  font-size:12px;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u1330 {
  position:absolute;
  left:41px;
  top:522px;
  width:70px;
  height:26px;
  font-size:20px;
  text-align:center;
}
#u1331 {
  position:absolute;
  left:0px;
  top:1px;
  width:70px;
  word-wrap:break-word;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:76px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1332 {
  position:absolute;
  left:310px;
  top:497px;
  width:29px;
  height:76px;
  font-size:10px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:12px;
  width:25px;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:79px;
}
#u1334 {
  position:absolute;
  left:40px;
  top:497px;
  width:2px;
  height:76px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:30px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u1336 {
  position:absolute;
  left:77px;
  top:532px;
  width:18px;
  height:16px;
  font-size:12px;
  text-align:center;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(67, 67, 67, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1338 {
  position:absolute;
  left:30px;
  top:20px;
  width:320px;
  height:568px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1341 {
  position:absolute;
  left:70px;
  top:231px;
  width:230px;
  height:170px;
}
#u1342 {
  position:absolute;
  left:2px;
  top:77px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1343 {
  position:absolute;
  left:287px;
  top:207px;
  width:22px;
  height:22px;
}
#u1344 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1345 {
  position:absolute;
  left:90px;
  top:253px;
  width:190px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u1346 {
  position:absolute;
  left:0px;
  top:10px;
  width:190px;
  word-wrap:break-word;
}
#u1347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1347 {
  position:absolute;
  left:75px;
  top:332px;
  width:219px;
  height:54px;
}
#u1348 {
  position:absolute;
  left:2px;
  top:19px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1349 {
  position:absolute;
  left:162px;
  top:343px;
  width:110px;
  height:14px;
  font-size:12px;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u1351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1351 {
  position:absolute;
  left:84px;
  top:365px;
  width:67px;
  height:13px;
  font-size:10px;
}
#u1352 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u1353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u1353 {
  position:absolute;
  left:161px;
  top:365px;
  width:133px;
  height:10px;
  font-size:9px;
}
#u1354 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u1355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1355 {
  position:absolute;
  left:84px;
  top:340px;
  width:59px;
  height:25px;
  font-size:16px;
}
#u1356 {
  position:absolute;
  left:0px;
  top:3px;
  width:59px;
  word-wrap:break-word;
}
#u1357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1357 {
  position:absolute;
  left:78px;
  top:303px;
  width:220px;
  height:15px;
  font-size:10px;
}
#u1358 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u1359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:2px;
}
#u1359 {
  position:absolute;
  left:71px;
  top:325px;
  width:228px;
  height:1px;
}
#u1360 {
  position:absolute;
  left:2px;
  top:-8px;
  width:224px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:33px;
}
#u1361 {
  position:absolute;
  left:151px;
  top:344px;
  width:1px;
  height:32px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:8px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
